{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="page-logo" src="{{ MEDIA_URL }}blacklogo.png" alt="Logo">
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center mt-3">
        <span>
            <h2>SHOPPING BAG</h2>
            <hr class="w-50 mb-3">
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if bag_items %}
        <div class="col-12">
        </div>
        <div class="col-12 col-md-9">
            <table class="table table-sm align-middle table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="text-uppercase">Item</th>
                        <th scope="col"></th>
                        <th scope="col" class="text-center text-uppercase">Size</th>
                        <th scope="col" class="text-center text-uppercase">Qty</th>
                        <th scope="col" class="text-center text-uppercase">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bag_items %}
                    <tr class="border p-2 m-3">
                        <td class="w-25 align-middle">
                            {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" class="bag-image img-fluid"
                                alt="{{ product.name }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}no-image.png" class="bag-image img-fluid" alt="{{ product.name }}">
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <h4 class="font-weight-bold text-uppercase">{{ item.product.name }}</h4>
                            <p class="text-uppercase pt-2" id="category-link">
                                <a href="{% url 'products' %}?category={{ item.product.category.name }}">
                                    {{ item.product.category.display_name }}
                                </a>
                            </p>
                            <p class="small"><strong>Variety: </strong>{{ item.product.variety.display_name }}</p>
                            {% if item.product.strength %}
                            <p class="small"><strong>Strength: </strong>{{ item.product.strength }}/10</p>
                            {% endif %}

                        </td>
                        <td class="align-middle">
                            <p class="small text-center">{{ item.product.bag_size }}</p>
                        </td>
                        <td class="align-middle">
                            <form class="update-form" action="{% url 'update_bag' item.product_id %}" method="POST">
                                {% csrf_token %}
                                <div class="quantity-update">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select class="form-control custom-select rounded-0 update-qty"
                                                name="quantity" value="{{ item.quantity }}"
                                                data-product_id="{{ item.product.id }}"
                                                id="id_qty_{{ item.product.id }}">
                                                <option value="1" {% if item.quantity == 1 %}selected{% endif %}>1
                                                </option>
                                                <option value="2" {% if item.quantity == 2 %}selected{% endif %}>2
                                                </option>
                                                <option value="3" {% if item.quantity == 3 %}selected{% endif %}>3
                                                </option>
                                                <option value="4" {% if item.quantity == 4 %}selected{% endif %}>4
                                                </option>
                                                <option value="5" {% if item.quantity == 5 %}selected{% endif %}>5
                                                </option>
                                                <option value="6" {% if item.quantity == 6 %}selected{% endif %}>6
                                                </option>
                                                <option value="7" {% if item.quantity == 7 %}selected{% endif %}>7
                                                </option>
                                                <option value="8" {% if item.quantity == 8 %}selected{% endif %}>8
                                                </option>
                                                <option value="9" {% if item.quantity == 9 %}selected{% endif %}>9
                                                </option>
                                                <option value="10" {% if item.quantity == 10 %}selected{% endif %}>10
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="update-button text-center d-none mx-auto">
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="submit"
                                                    class="light-button small rounded-0 text-uppercase my-1 mx-auto"
                                                    value="Update">
                                            </li>
                                            <li>
                                                <button
                                                    class="cancel-button light-button small rounded-0 text-uppercase my-1 mx-auto">
                                                    Cancel
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </td class="align-middle">
                        <td class="align-middle">
                            <h6 class="font-weight-bold text-center">£{{ item.product.price }}</h4>
                        </td>
                        <td class="text-right">
                            <div class="delete-x text-right">
                                <a href="#">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-3">
            <table class="table table-sm align-middle table-borderless ">
                <thead>
                    <tr>
                        <th scope="col" class="text-uppercase">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border p-2 m-3">
                        <td>
                            <p class="small text-center">SUB TOTAL</p>
                        </td>
                        <td>
                            <p class="small text-center">£{{ total|floatformat:2 }}</p>
                        </td>
                    </tr>
                    <tr class="border p-2 m-3">
                        <td>
                            <p class="small text-center">DELIVERY</p>
                        </td>
                        <td>
                            <p class="small text-center">£{{ delivery|floatformat:2 }}</p>
                        </td>
                    </tr>
                    {% if total > settings.DISCOUNT_THRESHOLD %}
                    <tr class="border p-2 m-3">
                        <td>
                            <p class="small text-center">DISCOUNT</p>
                        </td>
                        <td>
                            <p class="small text-center">£-5</p>
                        </td>
                    </tr>
                    {% endif %}
                    <tr class="border p-2 m-3">
                        <td>
                            <p class="small text-center">TOTAL</p>
                        </td>
                        <td>
                            <p class="small text-center">£{{ grand_total|floatformat:2 }}</p>
                        </td>
                    </tr>
                    <tr class="p-2 m-3">
                        <td colspan="2" class="text-center">
                            <input type="submit" class="light-button rounded-0 text-uppercase mt-1" value="CHECKOUT">
                        </td>
                    </tr>
                    <tr class="p-2 m-3">
                        <td colspan="2" class="text-center">
                            <a href="{% url 'products' %}">
                                <button class="dark-button text-uppercase">Keep Shopping</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="col-12 col-md-8 offset-md-2 text-center ">
            <div class="text-center">
                <span>
                    <i class="fas fa-shopping-bag fa-lg pt-5"></i>
                    <p class="my-4">Your shopping bag is empty</p>
                    <a href="{% url 'products' %}">
                        <button class="dark-button mx-4">BACK TO SHOP</button>
                    </a>
                </span>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $(function () {
        $('.update-qty').change(function () {
            $(this).closest(".quantity-update").find(".update-button").removeClass('d-none');
            $(this).closest(".quantity-update").find(".update-button").addClass('d-block');
        })
    })
</script>

<script type="text/javascript">
    $(function () {
        var currentQty = $('.update-qty').val();
        $('.cancel-button').click(function () {
            $('.update-button').removeClass('d-block');
            $('.update-button').addClass('d-none');

            $('.update-qty').val(currentQty);
        })
    })
</script>

{% endblock %}