{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="page-logo" src="{{ MEDIA_URL }}blacklogo.png" alt="Logo">
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center mt-3">
        <span>
            <h2>SHOPPING BAG</h2>
            <hr class="w-50 mb-3">
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if bag_items %}
        <div class="col">
            {{ bag_items }}
        </div>
        <div class="col-12">
            <table class="table table-sm align-middle">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="col-12 text-center">
            <div class="shop-banner text-center">
                <span>
                    Your shopping bag is empty
                    <a href="{% url 'products' %}">
                        <button class="light-button mx-4">BACK TO SHOP</button>
                    </a>
                </span>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}