{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="home-logo" src="{{ MEDIA_URL }}blacklogo.png" alt="Logo">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="banner-image w-100"></div>
    <div class="shop-banner text-center">
        <span class="link pt-3">
            Check out our amazing range of Coffee
            <a href="{% url 'products' %}" class="light-button mx-4">
                BROWSE
            </a>
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 text-center my-auto py-5">
            <p class="h4">Why choose Batch Coffee?</p><br>
            <a href="{% url 'about' %}" class="dark-button">
                ABOUT US
            </a>
        </div>
        <div class="col-12 col-md-6 text-center my-auto">
            <img class="home-img img-fluid" src="{{ MEDIA_URL }}coffeebags.jpg" alt="Coffee Bags">
        </div>
    </div>
</div>
{% endblock %}