{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="home-logo" src="media/blacklogo.png" alt="Logo">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="banner-image w-100"></div>
    <div class="shop-banner text-center">
        <span>
            Check out our amazing range of Coffee
            <button class="light-button mx-4">BROWSE COFFEE</button>
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 text-center my-auto py-5">
            <p class="h4">Why choose Batch Coffee?</p><br>
            <button class="dark-button">ABOUT US</button>
        </div>
        <div class="col-12 col-md-6 text-center my-auto">
            <img class="home-img img-fluid" src="media/coffeebags.jpg" alt="Coffee Bags">
        </div>
    </div>
</div>
{% endblock %}