{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="page-logo" src="{{ MEDIA_URL }}blacklogo.png" alt="Logo">
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center mt-3">
        <span>
            <h2>THANK YOU</h2>
            <hr class="w-50 mb-3">
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <h4 class="text-uppercase mt-5 mb-2">Your Order Summary</h4>

            <div class="row">
                <div class="col-12 border-top">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}