{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="page-logo" src="{{ MEDIA_URL }}blacklogo.png" alt="Logo">
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center mt-3">
        <span>
            <h2>THANKS FOR YOUR ORDER</h2>
            <hr class="w-50 mb-3">
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p>Your order details are below and a confirmation email has been sent to <strong>{{ order.email }}</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row pt-5">
                <div class="col-12 col-md-4">
                    <p class="text-uppercase semi-bold"><i class="fas fa-box"></i> Order Number</p>
                </div>
                <div class="col-12 col-md-8">
                    <p>{{ order.order_number }}</p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-12 col-md-4">
                    <p class="text-uppercase semi-bold"><i class="fas fa-box"></i> Email</p>
                </div>
                <div class="col-12 col-md-8">
                    <p>{{ order.email }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="text-uppercase semi-bold"><i class="fas fa-calendar"></i> Order Date</p>
                </div>
                <div class="col-12 col-md-8">
                    <p>{{ order.date }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="text-uppercase semi-bold"><i class="fas fa-truck"></i></i> Estimated Delivery Date</p>
                </div>
                <div class="col-12 col-md-8">
                    <p>{{ order.expected_delivery_date }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border-bottom">
                    <h4 class="text-uppercase mt-5 mb-3">Delivery Details</h4>
                </div>
                <div class="col-12 col-md-7 mt-2 d-none d-sm-block">
                    <p class="text-uppercase semi-bold">Full Name</p>
                </div>
                <div class="col-12 col-md-5 text-md-right text-capitalize mt-2">
                    <p>{{ order.full_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-7 d-none d-sm-block">
                    <p class="text-uppercase semi-bold">Phone Number</p>
                </div>
                <div class="col-12 col-md-5 text-md-right text-capitalize">
                    <p>{{ order.phone_number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-7 d-none d-sm-block">
                    <p class="text-uppercase semi-bold">House No./House Name/Apartment</p>
                </div>
                <div class="col-12 col-md-5 text-md-right text-capitalize">
                    <p>{{ order.street_address1 }}</p>
                </div>
            </div>
            {% if order.street_address2 %}
            <div class="row">
                <div class="col-12 col-md-7 d-none d-sm-block">
                    <p class="text-uppercase semi-bold">Street</p>
                </div>
                <div class="col-12 col-md-5 text-md-right text-capitalize">
                    <p>{{ order.street_address2 }}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-7 d-none d-sm-block">
                    <p class="text-uppercase semi-bold">Town/City</p>
                </div>
                <div class="col-12 col-md-5 text-md-right text-capitalize">
                    <p>{{ order.town_or_city }}</p>
                </div>
            </div>
            {% if order.county %}
            <div class="row">
                <div class="col-12 col-md-7 d-none d-sm-block">
                    <p class="text-uppercase semi-bold">County/State</p>
                </div>
                <div class="col-12 col-md-5 text-md-right text-capitalize">
                    <p>{{ order.county }}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-7 d-none d-sm-block">
                    <p class="text-uppercase semi-bold">Postcode/ZIP</p>
                </div>
                <div class="col-12 col-md-5 text-md-right text-uppercase">
                    <p>{{ order.postcode_zipcode }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-7 d-none d-sm-block">
                    <p class="text-uppercase semi-bold">Country</p>
                </div>
                <div class="col-12 col-md-5 text-md-right text-capitalize">
                    <p>{{ order.country }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 border-bottom">
                    <h4 class="text-uppercase mt-5 mb-3">
                        {% if order.get_total_items != 1 %}
                        {{ order.get_total_items }} Items
                        {% else %}
                        {{ order.get_total_items }} Item
                        {% endif %}
                    </h4>
                </div>
                {% for item in order.lineitems.all %}
                <div class="col-12 col-md-6 col-lg-4 pt-3">
                    <div class="card product-card h-100 border-0">
                        <a href="{% url 'product_detail' item.product.id %}">
                            <div class="card-image">
                                {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" class="card-img-top"
                                    alt="{{ item.product.name }}">
                                {% else %}
                                <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top"
                                    alt="{{ item.product.name }}">
                                {% endif %}
                            </div>
                            <div class="card-body px-0">
                                <div class="row">
                                    <div class="col-8 px-0">
                                        <h6 class="card-title font-weight-bold text-uppercase mb-0">
                                            {{ item.product.name }}
                                        </h6>
                                    </div>
                                    <div class="col-4 text-right px-0">
                                        <h6 class="font-weight-bold mb-0">£{{ item.product.price }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <h6 class="text-uppercase pt-2" id="category-link">
                                            <a href="{% url 'products' %}?category={{ item.product.category.name }}">
                                                {{ item.product.category.display_name }}
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="col-12 px-0 border-top border-bottom">
                                        <small>Variety: {{ item.product.variety.display_name }}</small>
                                    </div>
                                    <div class="col-12 px-0">
                                        {% if item.product.strength %}
                                        <small>Strength: {{ item.product.strength }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 px-0 border-top border-bottom">
                                        {% if item.product.strength %}
                                        <small class="semi-bold">Qty: {{ item.quantity }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 border-bottom">
                    <h4 class="text-uppercase mt-5 mb-3">Order Total</h4>
                </div>
                <div class="col-7 mt-2">
                    <p class="text-uppercase semi-bold">Sub-Total</p>
                </div>
                <div class="col-5 text-md-right text-capitalize mt-2">
                    <p>£
                        {% if order.sub_total >= 50 %}
                        {{ order.sub_total }}
                        {% else %}
                        {{ order.order_total }}
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if order.order_total > 45 %}
            <div class="row">
                <div class="col-7">
                    <p class="text-uppercase semi-bold">Discount</p>
                </div>
                <div class="col-5 text-md-right text-capitalize">
                    <p class="text-success">-£5</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-7">
                    <p class="text-uppercase semi-bold">Delivery</p>
                </div>
                <div class="col-5 text-md-right text-capitalize">
                    <p>£{{ order.delivery_cost }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <p class="text-uppercase font-weight-bold">Total</p>
                </div>
                <div class="col-5 text-md-right text-capitalize">
                    <p>£{{ order.grand_total }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 order-md-first">
            <div class="row pt-5">
                <div class="side-menu col-12 border-bottom">
                    <a href="#">
                        <p class="text-uppercase"><i class="fas fa-user pr-3"></i> My Account</p>
                    </a>
                </div>
                <div class="side-menu col-12 border-bottom">
                    <a href="{% url 'home' %}">
                        <p class="text-uppercase"><i class="fas fa-home pr-3"></i> Home</p>
                    </a>
                </div>
                <div class="side-menu col-12 border-bottom">
                    <a href="{% url 'products' %}">
                        <p class="text-uppercase"><i class="fas fa-coffee pr-3"></i> Shop More Coffee</p>
                    </a>
                </div>
                <div class="side-menu col-12 border-bottom">
                    <a href="{% url 'saved_items' %}">
                        <p class="text-uppercase"><i class="fas fa-heart pr-3"></i> Saved Items</p>
                    </a>
                </div>
                <div class="side-menu col-12 border-bottom">
                    <a href="#">
                        <p class="text-uppercase"><i class="fas fa-question-circle pr-3"></i> Need Help?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}