html {
    height: 100%;
    font-family: 'Spartan', sans-serif;
}

.home-logo {
    max-height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-image {
    background: url('/media/banner-image.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
}