html {
    height: 100%;
}

/* General */

body {
    font-family: 'Spartan', sans-serif;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Homepage */

.home-logo {
    max-height: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 85px;
}

.home-img {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Components */

.dark-button {
    background: #074F3C;
    color: #fff;
    border: none;
    padding: 12px 12px 6px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .2s ease-out;
}

.dark-button:hover,
.dark-button:focus {
    background-color: #022e22;
}

.light-button {
    background: #fff;
    border: solid 1px #000;
    color: #000;
    padding: 12px 12px 6px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .2s ease-out;
}

.light-button:hover,
.light-button:focus {
    background-color: #cbe0da;
}

.banner-image {
    background: url('/media/banner-image.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
}

.shop-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #074F3C;
    color: #fff;
}

/* Navbar */

.navbar {
    background-color: #000;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    color: #fff;
}

.search-submit:hover,
.search-submit:focus {
    color: #074F3C;
}

.nav-logo {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.nav-link,
span.nav-link {
    color: #fff !important;
    transition: all .2s ease-out;
}

a.nav-link:hover,
span.nav-link:hover,
a.nav-link:focus,
span.nav-link:focus {
    color: #6c757d !important;
}

.main-nav {
    background-color: #000;
    border-top: solid 1px #fff;
    padding: 0;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

.navbar-dark .navbar-toggler {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-text {
    border-bottom: 1px solid #fff;
}

#shop {
    cursor: pointer;
}

.mobile-header {
    float: right;
}

#search-mobile,
#user-mobile {
    position: absolute;
}

.mobile-search {
    width: 310px;
}

#discount-banner {
    background-color: #074F3C;
    font-size: 11px;
}

/* Footer */

footer {
    background-color: #074F3C;
    color: #fff;
    height: fit-content;
}


@media (max-width: 491px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .dropdown-menu {
        position: static;
    }

    #shop-nav {
        display: flex !important;
    }

    footer {
        height: 100px;
    }

}