{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="page-logo" src="{{ MEDIA_URL }}blacklogo.png" alt="Logo">
        </div>
    </div>
</div>

<!-- Header -->
<div class="container">
    <div class="text-center mt-3">
        <span>
            <h2>MY ACCOUNT</h2>
            <hr class="w-50 mb-3">
        </span>
    </div>
</div>

<!-- Main Account -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p class="text-uppercase">{{ user.username }} - my account</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 pt-5 mt-2 pl-3 pr-3 account-welcome">
            <div class="welcome-message">
                <h2 class="text-uppercase semi-bold pl-3">
                    welcome to
                </h2>
                <h2 class="text-uppercase semi-bold pt-3 pl-3 pr-3 mb-0">
                    your account
                </h2>
            </div>
        </div>
        <div class="col-12 col-md-4 order-md-first">
            <div class="row pt-5">
                <div class="side-menu col-12 border-bottom">
                    <a href="{% url 'account' %}">
                        <p class="text-uppercase"><i class="fas fa-user pr-3"></i> My Account</p>
                    </a>
                </div>
                <div class="side-menu col-12 border-bottom">
                    <a href="{% url 'account_details' %}">
                        <p class="text-uppercase"><i class="fas fa-align-left pr-3"></i> My Details</p>
                    </a>
                </div>
                <div class="side-menu col-12 border-bottom">
                    <a href="{% url 'account_orders' %}">
                        <p class="text-uppercase"><i class="fas fa-box pr-3"></i> My Order History</p>
                    </a>
                </div>
                <div class="side-menu col-12 border-bottom">
                    <a href="{% url 'saved_items' %}">
                        <p class="text-uppercase"><i class="fas fa-heart pr-3"></i> Saved Items</p>
                    </a>
                </div>
                <div class="side-menu col-12 pt-3">
                    <a href="{% url 'products' %}">
                        <p class="text-uppercase"><i class="fas fa-coffee pr-3"></i> Back to Shop</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}