<div class="mobile-header navbar d-inline-block d-sm-none">
    <ul class="navbar-nav d-inline-block list-inline">
        <li class="nav-item dropdown list-inline-item">
            <span class="nav-link dropdown-toggle" id="search-dropdown">
                <i class="fas fa-search"></i>
            </span>
        </li>
        <li class="nav-item dropdown list-inline-item">
            <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" id="user-mobile" aria-labelledby="user-dropdown">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a class="dropdown-item" href="#">STORE ADMIN</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account' %}">MY ACCOUNT</a>
                <a class="dropdown-item" href="{% url 'account_logout' %}">LOGOUT</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'account_login' %}">LOGIN</a>
                <a class="dropdown-item" href="{% url 'account_signup' %}">REGISTER</a>
                {% endif %}
            </div>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="{% url 'shopping_bag' %}">
                <i class="fas fa-shopping-cart"></i>
                {% if product_count %} {{ product_count }} {% else %} 0 {% endif %}
            </a>
        </li>
    </ul>
</div>
</div>