<div class="collapse navbar-collapse" id="nav-bar">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item d-block d-sm-none">
            <a class="nav-link" href="{% url 'home' %}">HOME</a>
        </li>
        <li class="nav-item d-block d-sm-none">
            <a class="nav-link" href="#">ABOUT</a>
        </li>
        <span class="navbar-text d-block d-sm-none text-center">
            SHOP
        </span>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="allcoffee-dropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                ALL COFFEE
            </a>
            <div class="dropdown-menu" aria-labelledby="allcoffee-dropdown">
                <a class="dropdown-item" href="#">BY PRICE</a>
                <a class="dropdown-item" href="#">BY GRIND CATEGORY</a>
                <a class="dropdown-item" href="#">BY STRENGTH</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ALL COFFEE</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="wholebean-dropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                WHOLE BEAN
            </a>
            <div class="dropdown-menu" aria-labelledby="wholebean-dropdown">
                <a class="dropdown-item" href="#">ARABICA</a>
                <a class="dropdown-item" href="#">ROBUSTA</a>
                <a class="dropdown-item" href="#">LIBERICA</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ALL WHOLE BEAN</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="cafetiere-dropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                CAFETIERE
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="cafetiere-dropdown">
                <a class="dropdown-item" href="#">ARABICA</a>
                <a class="dropdown-item" href="#">ROBUSTA</a>
                <a class="dropdown-item" href="#">LIBERICA</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ALL CAFETIERE</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="filter-dropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                FILTER
            </a>
            <div class="dropdown-menu" aria-labelledby="filter-dropdown">
                <a class="dropdown-item" href="#">ARABICA</a>
                <a class="dropdown-item" href="#">ROBUSTA</a>
                <a class="dropdown-item" href="#">LIBERICA</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ALL FILTER</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="espresso-dropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                ESPRESSO
            </a>
            <div class="dropdown-menu" aria-labelledby="espresso-dropdown">
                <a class="dropdown-item" href="#">ARABICA</a>
                <a class="dropdown-item" href="#">ROBUSTA</a>
                <a class="dropdown-item" href="#">LIBERICA</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ALL ESPRESSO</a>
            </div>
        </li>
    </ul>
</div>
<div class="nav-item d-none" id="mobile-search-bar">
    <form class="form-inline d-inline-block" method="GET" action="">
        <div class="input-group mobile-search">
            <input type="text" class="form-control" name="q" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>