{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "LOGIN" %}{% endblock %}

{% block inner_content %}
<div class="text-center mt-3">
    <span>
        <h2>{% trans "LOGIN" %}</h2>
        <hr class="w-100 mb-3">
    </span>
</div>


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="link">{% blocktrans with site.name as site_name %}Please log in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="link">{% blocktrans %}If you don't have an account yet, please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="primaryAction light-button" type="submit">{% trans "LOGIN" %}</button>
    <p class="link">
        <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </p>
</form>

{% endblock %}