{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "LOGOUT" %}{% endblock %}

{% block inner_content %}
<div class="text-center mt-3">
    <span>
        <h2>{% trans "LOGOUT" %}</h2>
        <hr class="w-100 mb-3">
    </span>
</div>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="light-button" type="submit">{% trans 'LOGOUT' %}</button>
</form>


{% endblock %}