{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="page-logo" src="{{ MEDIA_URL }}blacklogo.png" alt="Logo">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="text-center mt-3">
        <span>
            <h2>SHOP</h2>
            <hr class="w-40 mb-3">
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card product-card h-100 border-0">
                <a href="">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title font-weight-bold mb-0">{{ product.name }}</h5>
                            </div>
                            <div class="col-4">
                                <h5 class="font-weight-bold mb-0">£{{ product.price }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if product.variety %}
                                <p>Variety - {{ product.variety }}</p>
                                {% endif %}
                                {% if product.strength %}
                                <p> Strength - {{ product.strength }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}