{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="home-logo" src="{{ MEDIA_URL }}blacklogo.png" alt="Logo">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {{ products }}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="shop-banner text-center">
        <span>
            Check out our amazing range of Coffee
            <button class="light-button mx-4">BROWSE COFFEE</button>
        </span>
    </div>
</div>

{% endblock %}