<div class="p-3 rounded-0">
    <div id="toast" class="toast hide" role="alert" data-delay="100000" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark py-0">

            <p class="mr-auto text-info"><strong><i class="fas fa-info fa-lg pl-3 pr-2"></i></strong>
                ALERT!
            </p>
            <small></small>
            <button type="button" class="light-button border-0 btn-close pt-1 pb-0 px-2" data-dismiss="toast"
                aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="toast-body">
            <p class="text-uppercase m-0">{{ message }}</p>
        </div>
    </div>
</div>