<div class="p-3 rounded-0">
    <div id="toast" class="toast hide" role="alert" data-delay="20000" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark py-0">

            <p class="mr-auto text-success"><strong><i class="far fa-thumbs-up fa-lg pl-3 pr-2"></i></strong>
                SUCCESS!
            </p>
            <button type="button" class="light-button border-0 btn-close pt-1 pb-0 px-2" data-dismiss="toast"
                aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="toast-body">
            <div class="row">
                <div class="col-12">
                    <p class="text-uppercase m-0">{{ message }}</p>
                    <hr class="mt-1 mb-3">
                </div>
            </div>
            {% if product_count != 0 and not on_account_page and not on_bag_page %}
            <p class="font-weight-bold text-uppercase py-1">Your Shopping Bag ({{ product_count }})</p>
            <div class="toast-bag">
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-3 mb-1">
                        <img class="w-100" src="{{ item.product.image.url }}">
                    </div>
                    <div class="col-9">
                        <p class="my-0 text-uppercase"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small text-uppercase text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 border-top">
                    <strong>
                        <p class="mt-3 mb-1 text-uppercase">
                            Total <small>(EXCLUDING DELIVERY)</small>:
                            <span class="float-right">£{{ total|floatformat:2 }}</span>
                        </p>
                    </strong>
                    {% if discount_difference > 0 %}
                    <p class="discount-spend mb-0 py-1 text-uppercase text-center">
                        Spend <strong>£{{ discount_difference }}</strong> more to get £5 off!
                    </p>
                    {% endif %}
                </div>
                <div class="col-12 mt-4 text-center">
                    <a href="{% url 'shopping_bag' %}" class="text-decoration-none">
                        <button class="text-uppercase dark-button rounded-0">View Bag</button>
                    </a>
                    <a href="{% url 'checkout' %}">
                        <button class="text-uppercase light-button rounded-0">Checkout Now</button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>